@{ ViewData["Title"] = "Exercise Home"; var imagen = "/images/images/baner.jpg"; }

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

</div>
<br />
<center>

    <output id="ImageUser10">
        <img src="@imagen" class="ImageUser10" width="1000" height="400" />
    </output>
</center>
